<launch>

  <node pkg="olinoboat" type="init_sensors.py" name="init_sensors" output="screen"></node> 

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" respawn ="true">
    <param name="~port" value="$/dev/ttyACM0" />
    <param name="~baud" value="57600" />
  </node>

  <!--

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" respawn ="true">
    <param name="~port" value="$(env SERIAL_DEVICE)" />
    <param name="~baud" value="57600" />
  </node>

  <node pkg="rosbag" type="record" name="rosbag_record_diag" args="record -o /compass_heading /wind_angle_pub /x_position_UTM /y_position_UTM $../data"/>

  -->

</launch>
