<launch>

  <machine name="mo" address="localhost" default="true" env-loader="/opt/ros/groovy/env.sh" user="$(env ROS_USERNAME)"/>

  <!--
  <machine name="pi" address="raspberrypi" user="pi" password="raspberry" env-loader="/opt/ros/groovy/env.sh"> 

  <node pkg="olinoboat" type="publisher.py" name="listener" machine="mo" output="screen"/>

    <node pkg="olinoboat" type="go_fast.py" name="go_fast" machine="mo" output="screen"></node> 

  <node pkg="olinoboat" type="mock_sensor_publishers.py" name="mock_sensor_publishers" machine="mo" output="screen"></node> 

    
  -->   

  <node pkg="olinoboat" type="maintain_fast_sail_angle.py" name="maintain_fast_sail_position" machine="mo" output="screen"></node> 

  <node pkg="olinoboat" type="think.py" name="think" machine="mo" output="screen"></node> 

  <node pkg="olinoboat" type="mission_publish.py" name="mission_publisher" machine="mo" output="screen"></node>



</launch>
