<launch>

  <node pkg="olinoboat" type="auto_trim_sails.py" name="auto_trim_sails" output="screen"></node> 

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" clear_params="true" respawn ="true">
    <param name="~port" value="/dev/ttyS0" />
    <param name="~baud" value="57600" />
	
  </node>

</launch>
