<launch>

  <node pkg="olinoboat" type="think_with_plotting.py" name="think_with_plotting" output="screen"></node>

  <node pkg="olinoboat" type="mission_publish.py" name="mission_publisher" output="screen"></node>

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" respawn ="true">
    <param name="~port" value="/dev/ttyS0" />
    <param name="~baud" value="57600" />
  </node>

</launch>