<launch>

  <node pkg="olinoboat" type="think.py" name="think" output="screen"></node>

  <node pkg="olinoboat" type="mission_publish.py" name="mission_publisher" output="screen"></node>

  <node pkg="olinoboat" type="point_boat_at_target.py" name="point_boat_at_target" output="screen"></node>

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" clear_params="true" respawn ="true">
    <param name="~port" value="/dev/ttyACM0" />
    <param name="~baud" value="57600" />
	
  </node>

</launch>